<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ wppage.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ metaDescription if metaDescription else site.description }}">
  <!-- ContentService CSS Framework -->
  {{ contentServiceCssFramework | safe }}
  <!-- ContentService CSS Framework end -->
  <!-- ContentService CSS -->
  {{ contentServiceCss | safe }}
  <!-- ContentService CSS end -->
  <!-- ContentService JS -->
  {{ contentServiceJs | safe }}
  <!-- ContentService JS end -->
</head>
<body>
  <!-- ContentService Header HTML -->
  {{ contentServiceHeaderHtml | safe }}
  <!-- ContentService Header HTML ends -->
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8">
  <h1>{{ wppage.title }} </h1>
  {{ wppage.body | safe}}
  </div>
  </div>
  </div>

  <!-- ContentService Footer HTML -->
  {{ contentServiceFooterHtml | safe }}
  <!-- ContentService Footer HTML ends -->
</body>
</html>
