---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% set metaTitle = "Homepage" %}
{% set metaDescription = "This is an SEO description for this page" %}
{% set metaImage = site.metaImage %}

{% block content %}
  <ul>
  <li><a href="films.html">Films</a></li>
  <li><a href="wppages.html">WP pages</a></li>
  </ul>
{% endblock %}