---
permalink: wppages.html
---
{% extends "layouts/base.njk" %}

{% set metaTitle = "WP Pages" %}
{% set metaDescription = "This is an SEO description for this page" %}
{% set metaImage = site.metaImage %}

{% block content %}
  <p>The list of WP pages:</p>
  <ul>
   {% for wppage in wppages %}
  <li><a href="wppage/{{ wppage.slug}}">{{ wppage.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
